<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Today</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>To day is <%=Lists%></h1>
    </div>
   <div class="box">
    
        <label class="head" >To Do</label>
        <ul>
         <%   for(var i=0;i<Listitem.length;i++){ %>
             <div class="item">
                <input type="checkbox">
                <p ><%=Listitem[i]%></p>
            </div>
          <%}%>
        </ul>
        <form action="/" method="post">
        <input type="text" name="Listitem" placeholder="New Item">
        <button type="submit" name="button" value="<%=Lists%>">+</button>
    </form>

        
</div>

   

    
</body>
</html>